.wd-kanbas-navigation {
  background-color: black;
  position: sticky;
  z-index: auto;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 80px;
  height: 100%;
}
.wd-kanbas-navigation li {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation li svg {
  font-size: x-small;
  color: red;
}
