.transparent-button {
  background-color: transparent;
  color: red;
  border: none;
  outline: none;
  cursor: pointer;
}

.transparent-button:hover {
  text-decoration: none;
  background-color: red;
  color: white;
}

.option-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option-container input[type="radio"] {
  margin-right: 10px;
}

.option-container input[type="text"] {
  flex: 1;
}

.option-container button {
  margin-left: 5px;
}
